// General Rules

#main-wrapper{
	width:95%;
	margin:auto;
	position:relative;
	padding-bottom:3em;
}


/* Imports */

// Setup
@import 'setup/reset';
@import 'setup/vars';
@import 'setup/buttons';
@import 'setup/mixins';

// Key elements
@import 'elements/header';
@import 'elements/headings';
@import 'elements/footer';
@import 'elements/uploads';

// Page Rules
@import 'rules/page';

// Individual pages
@import 'pages/home';
@import 'pages/history';
@import 'pages/login';
@import 'pages/post';
@import 'pages/search';
@import 'pages/profile';
@import 'pages/register';
@import 'pages/create';


