.white-button{
	padding:.45em 1.5em;
	display:inline-block;
	text-align:center;
	border:1px solid #fff;
	font-family:$sofia;
	color:#fff;
	transition: .3s;
	cursor:pointer;
	a{
		color:#fff;
	}
}
.white-button:hover{
	background:#fff;
	a{
		color:#000;
	}
}
.black-button{
	padding:.45em 1.5em;
	display:inline-block;
	text-align:center;
	border:1px solid $black;
	font-family:$sofia;
	color:$black;
	transition: .3s;
	cursor:pointer;
}
.black-button:hover{
	background:$black;
	color:#fff;
}