// Mixins 

@mixin centerXY(){
	position:absolute;
	top: -9999em;
	bottom: -9999em;
	left: -9999em;
	right: -9999em;
	margin:auto;
}
@mixin centerY(){
	position:absolute;
	top: -9999em;
	bottom: -9999em;
	margin:auto;
}
@mixin cover(){
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
@mixin dim($bg){
	@include cover();
	background: $bg;
}

@mixin clear(){
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}