// Variables for key elements of site design

$black: 	#252525;
$punchy: 	#F62459;
$blue: 		#3498DB;
$orange:	#D35400;
$red:		#D91E18;


// Fonts

$sofia: "sofia-pro-condensed",sans-serif;
$monospace: "courier new", courier new, monospace;
$arial: 'Arial', arial, helvetica, open-sans, sans-serif;
$georgia: 'Georgia', Georgia, Times New Roman, serif;