.information-page{
	width:60%;
	min-width:560px;
	margin:10em auto;
	position:relative;
	border:1px solid #ececec;
	font-family:$sofia;
	padding:1em;
	min-width:1024px;
	img{
		max-width:100%;
		height:auto;
	}

	.heading{
		font-family: $sofia;
		display: block;
		margin-bottom:.5em;
		font-weight:bold;
	}
	h2.heading{
		font-size:2.3em;
	}
	h3.heading{
		font-size:2em;
	}
	h4.heading{
		font-size:1.7em;
	}
}

a{
	color:$punchy;
	&:hover{
		color:darken($punchy, 15%);
		text-decoration: underline;
	}
}

.double-wide{
	width:70%;
	margin:auto;
	position: relative;
	border:1px solid #ececec;
	font-family:$sofia;
	padding:2em .5em;
	min-width:1280px;
	.body,.gutter{
		float:left;
		min-height:2em;
		padding:0 .5em;
	}
	.body{
		width:80%;
	}
	.gutter{
		width:20%;
		&::after{
			@include clear();
		}
	}

	form{
		&::after{
			@include clear();
		}
	}

}

.page-wrap{
	width:70%;
	position:relative;
	clear:both;
	margin: 10% auto;
}

@media screen and (max-width:1280px){
	.page-wrap, .double-wide, .information-page{
		width:95%;
		min-width:95%;
		margin:auto;
	}
}
@media screen and (max-width:1024px){
	.page-wrap, .double-wide, .information-page{
		width:100%;
		min-width:100%;
	}
	li.result{
		float:none;
		width:100%;
		border:none;
	}
}