#post-creation-wrapper{
	input[type=text], input[type=submit],textarea{
		width:100%;
		height:3em;
		height:3rem;
		padding:.5em 1em;
		border:1px solid $black;
		font-family: $sofia;
	}
	textarea{
		height:auto;
		min-height:30em;
	}
	input[type=text]{
		font-size: 1.2em;
	}
	.input-wrapper{
		margin:1em 0;
		width:100%;
		clear:both;
	}
	header{
		width:100%;
		min-height:10em;
		h2{
			font-size:3em;
		}
	}
}


// Graph input widget
#graph-input{
	.column{
		width:50%;
		float:left;
		padding-right:.125em;
		padding-top:.5em;
	}
	.column:nth-child(odd){
		padding-right:0;
		padding-left:.125em;
	}
	.button-wrapper{
		clear:both;
		padding-top:1em;
		#add-values-button, #remove-values-button{
			background: $black;
			color:#fff;
			padding:.45em 1.5em;
			border:none;
			display:inline-block;
			font-family: $sofia;
			width:auto;
			cursor: pointer;
		}
	}
	label{
		font-weight:bold;
	}
	table, tr{
		width:100%;
	}
	td{
		border:1px solid #eee;
		width:50%;
		padding:.25em .5em;
		font-weight:bold;
	}
	tr{
		animation: highlight 1.5s 1;
	}
}

@keyframes highlight{
	from{
		background: $orange;
		color:#fff;
	}
	to{
		background:none;
		color:#000;
	}
}