// Custom styling for header
#site-header-wrapper{
	position:absolute;
	width:100%;
	left:0;
	top:0;
	header#site-header{
		text-align: center;
		#logo-wrapper{
			max-width:100%;
			text-align: center;
		}
		ul{
			display:inline-block;
		}
	}
}
// Format masthead
#history-masthead{
	min-height:40em;
	height:45vh;
	width:100%;
	position:relative;
	background:#ccc url(../img/bm.jpg) no-repeat center;
	background-size:cover;
	h2{
		position:absolute;
		left:5%;
		bottom:0;
		color:$black;
		font-size:5em;
		font-family: $sofia;
		text-transform: uppercase;
		display:block;
		color:#fff;
		font-weight:bold;
		z-index: 3;

	}
	#scroll-overlay{
		z-index:1;
		@include cover();
		background: rgba(0,0,0,.2) url(../img/money.svg) no-repeat center;
		background-attachment:fixed;
		background-size:cover;
	}
	#dim{
		@include dim(rgba(0,0,0,.1));
		z-index:2;
	}
}
// Wrap page for ease 
#history-page-wrapper{
	width:60%;
	margin:auto;
	position:relative;
	min-width:1024px;
	&::after{
		@include clear();
	}
	.text-block, .media-block{
		width:100%;
		height:auto;
		clear:both;
		position: relative;
		&::after{
			@include clear();
		}
	}
	.text-block{
		padding:1.5em 1em;
		img{
			width:100%;
			height:auto;
		}
	}
	p{
		font-family: $sofia;
		line-height: 1.7em;
		font-size:1.2em;
		display:block;
		max-width:30em;
		margin-bottom:1em;
	}
	h4{
		font-family: $sofia;
		font-size:1.6em;
		font-weight:bold;
		letter-spacing:1px;
		display:block;
		margin-bottom:.5em;
	}
	// Jazzy first letter
	#first-paragraph:first-letter{
		display:block;
		margin:0 .5em .5em 0;
		float:left;
		border:1px solid $black;
		padding:.5em;
		font-size:2em;

	}
	.main-flow, .media-gutter{
		width:50%;
		float:left;
	}
	.media-gutter{
		padding-left:1em;
		img{
			width:100%;
			height:auto;
		}
	}
	// style media block with min-height
	.media-block{
		min-height:50vh;
		margin:1em 0;
		h3{
			display:block;
			font-family: $sofia;
			font-size:1.9em;
			color:#fff;
			font-weight:bold;
			letter-spacing: 2px;
			z-index:1;
			position: absolute;
			bottom:0;
			left:0;
			padding:.25em 1em;
		}
		small.caption{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			display:block;
			text-align:right;
			padding:.5em 1em;
			color:#fff;
			z-index:1;
		}
		.dim{
			@include dim(rgba(0,0,0,.2));
			z-index:0;
		}
		img{
			width:100%;
		}
		iframe, video{
			width:100%;
			height:100%;
		}
	}

	// Custom styling for frames
	#wunderkammer{
		height:40em;
		background: #ccc url(../img/wunderkammer.jpg) no-repeat center;
		background-size:cover;
	}
	#kunstkammer{
		height:40em;
		background: #ccc url(../img/kunstkammer.jpg) no-repeat center;
		background-size:cover;
	}
	#expo{
		iframe{
			width:100%;
			height:30em;
		}
	}
	#dawn-heading{
		font-family: $sofia;
		letter-spacing:2px;
		font-size:3em;
		font-weight:bold;
		clear:both;
		text-align:center;
	}
	#modern-museum{
		height:40em;
		background: #ccc url(../img/tate.jpg) no-repeat center;
		background-size:cover;
	}
	// Format text blocks
	.center{
		margin:2em auto;
		float:none;
	}
	.full-span{
		width:100%;
		float:none;
		p{
			max-width:100%;
			width:100%;
		}
	}
}

// Style bibliography
div.references{
	margin-top:20vh;
	clear:both;
	h3{
		font-weight:bold;
		font-size:1.2em;
		font-family: $arial;
	}
	ol, li{
		list-style-type:decimal;
	}
	li{
		margin:.5em 0;
	}
}



// styling for bullet points
.bullet-points{
	padding-left:1em;
	li{
		list-style-type: circle;
		font-weight:bold;
		margin-bottom:1em;
		font-family: $arial;
	}
}

@media screen and (max-width:1024px){
	#history-page-wrapper{
		min-width:100%;
		width:100%;
	}
}
@media screen and (max-width:960px){
	#history-masthead{
		h2{
			font-size:3em;
		}
	}

	#history-page-wrapper .text-block{
		.main-flow, .media-gutter{
			width:100%;
			float:none;
		}
	}
	div.references{
		padding:2em;
	}
}