#masthead{
	width:100%;
	background:#f2f2f2 url(../img/crowd.jpg) no-repeat center;
	background-size:cover;
	height:40em;
	height:60vh;
	max-height:55em;
	margin-top:3em;
	position:relative;
	overflow:hidden;
	.dim{
		@include dim(rgba(0, 0, 0, .2));
	}
	.hero-details{
		width:100%;
		height:100%;
		padding:5em;
		font-family: $sofia;
		position:relative;
		z-index:2;
		color:#fff;
		text-align: center;
		h2{
			margin-top:3em;
			letter-spacing: 2px;
			font-size:3em;
			display:inline-block;
			margin-bottom:1em;
			width:100%;
		}
	}
}

#toolbox{
	width:100%;
	position:relative;
	min-width:100%;
	text-align:center;
	animation: slideup 1.2s 1;
	h2{
		font-family: $arial;
		font-size:2.3em;
		letter-spacing: 2px;
		font-weight: bold;
	}
	header{
		display:block;
		min-height:3em;
		padding:1em 0;
		color:darken(#ccc, 30%);
		.username{
			color:$black;
		}
	}
	ul{
		max-height:40vh;
		height:20em;
		position:relative;
		overflow:hidden;
		max-width:50vw;
		margin:auto;
		&::after{
			@include clear();
		}
	}
	li{
		width:33.3333333334%;
		display:block;
		height:100%;
		position:relative;
		padding:0;
		margin:0;
		float:left;
		text-align:center;
		font-family: $arial;
		font-weight:bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		a{
			color:darken(#ccc, 20%);
			transition: .2s;
			@include cover();
		}
		&:hover{
			svg{
				fill:$punchy;
				stroke:$punchy;
			}
			a{
				color:$punchy;
			}
		}
	}
	.bg-wrapper{
		height:10em;
		width:100%;
		position:relative;
		z-index:0;
		margin-top:3em;
	}
	svg{
		@include centerXY();
		height:7.5em;
		width:7.5em;
		fill:darken(#ccc, 20%);
		stroke:darken(#ccc, 20%);
		transition:.2s;
	}
}

// Animation for toolbox
@keyframes slideup{
	from{
		top:7em;
	}
	to{
		top:0;
	}
}

// Cities list
.cities{
	width:100%;
	margin-top:3em;
	&::after{
		@include clear();
	}
	.heading{
		font-family: $sofia;
		letter-spacing: 1px;
		display:block;
		font-weight:bold;
		font-size:2.3em;
	}
	ul{
		width:100%;
		padding:1em 0;
	}
	.result{

	}
}

// History link block

#history-lead{
	width:100%;
	height:25em;
	background: #ccc url(../img/lead.jpg) no-repeat center;
	background-size:cover;
	position:relative;
	overflow:hidden;
	h3{
		font-size:2em;
		height:2em;
		width:100%;
		text-align:center;
		color:#fff;
		@include centerXY();
		z-index:2;
		font-weight:bold;
		font-family:$sofia;
		letter-spacing: 2px;
	}
	.dim{
		@include dim(rgba(0,0,0, .3));
		z-index:0;
	}
}

@media screen and (max-width:1024px){
	#masthead{
		div.hero-details{
			padding:1em;
		}
	}
	#toolbox{
		width:100%;
		min-width:100%;
		margin-top:4em;
		ul{
			max-width:100%;
		}
		li{
			padding:1em;
			svg{
				width:60%;
				height:60%;
			}
		}
	}
}