#login-page-wrapper{
	height:100%;
	width:100%;
	position: relative;
}
.login-page{
	width:100%;
	height: 100%;
	overflow:hidden;
	position:absolute;
	background: #ddd;
	#main-wrapper{
		height:100%;
		position:relative;
	}
}
#login-wrapper{
	max-width:25%;
	min-width:25em;
	width:25em;
	height:27em;
	background: #fff;
	border:1px solid #ddd;

	@include centerXY();
	.wrap{
		padding:1.5em 1em;
	}
	h3{
		font-family:$sofia;
		letter-spacing: 1px;
		font-weight:bold;
		text-align: center;
		font-size:1.7em;
		display: block;
		margin-bottom:1.5em;
		text-align: center;
	}

}
