// Post layout
.post-masthead-wrapper{
	width:100%;
	position: relative;
	margin-top:3%;
	&::after{
		@include clear();
	}
}

// Rotated title
.post-masthead-title{
	width:20%;
	text-align:right;
	h2{
		width:.65em;
		font-family:$sofia;
		font-size:4em;
		color:lighten($black, 15%);
		display:inline-block;
		transform:rotate(-270deg);
		font-weight:bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

// Masthead images
.post-masthead-images{
	width: 75%;
	position: relative;
	z-index:1;
	img{
		max-width:100%;
		height:auto;
		width:100%;
		display:block;
	}
	.main-image{
		width:75%;
	}
	#masthead-side-gutter{
		width:25%;
		position:absolute;
		overflow:hidden;
		height:100%;
		right:0;
		top:0;
		div{
			height:33.3333333334%;
			width:100%;
			position:relative;
			overflow:hidden;
			background: #ececec;
			background-size:cover !important;
		}
		// Scss for loop to create fadein effect
		@for $i from 1 through 3 {
		  div:nth-child(#{$i}) {
			animation: fadeIn $i * .87s 1;
		  }
		}

		img{
			width:100%;
		}
	}
}

// FadeIn animation
@keyframes fadeIn{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}


.post-masthead-images, .post-masthead-title{
	float:left;
}

// Clear Margins of Information Page

#post-body{
	margin:auto;
	border:none;
	padding:1em 0;
	width:75%;
	margin-left:20%;
	p{
		display:block;
		margin-bottom:2em;
		line-height:2em;
		font-family: $sofia;
		font-size:1.3em;
		max-width:90%;

	}

	// Post formatting
	img, video, iframe{
		width:100%;
		height:auto;
	}
	iframe{
		height:30em;
	}
	blockquote{
		width:24em;
		max-width:50%;
		display:block;
		color:$red;
		float:left;
		margin:.5em .75em 1em 0;
		font-size:1.2rem;
		p{
			font-size:inherit;
			font-weight:bold;
			font-family: $georgia;
		}
		&::after{
			@include clear();
		}
	}


	// Alternating layout
	// blockquote:nth-child(even){
	// 	float:right;
	// 	margin:.5em 0 1em .75em;
	// }


	h2{
		font-size:1.75rem;
		letter-spacing: 1px;
		font-weight:bold;
		display:block;
		margin-bottom:.5em;
		clear:both;
	}

	.post-wrapper, .gutter{
		float:left;
		position:relative;
	}
	.post-wrapper{
		width:75%;
		padding-right:2em;
	}
	.gutter{
		width:25%;
	}
	&::after{
		@include clear();
	}
}


// Nav widget styling

#nav-widget{
	text-align:left;
	padding-left:2em;
	ol, li{
		list-style-type: decimal;
	}
	li{
		font-size:1.6em;
		margin:.5em 0;
	}
	ol{
		display:block;
		margin-left:1em;
		width:80%;
	}
}

// Post heading styling

.post-heading{
	font-size:2.2em;
	font-weight:bold;
	color:$black;
	display:block;
	margin:.5em 0;
	letter-spacing:1px;	
}
h4.post-heading{
	font-size:1.6rem;
}

// Canvas styling
#chart-wrapper{
	width:100%;
	canvas{
		height:30em;
		width:100%;
		border-left:1px solid $black;
		border-bottom:1px solid $black;
		padding:1em;
	}
}

// Author Tools

#author-tools{
	width:60%;
	margin:auto;
	text-align:left;
	clear:both;
	position:relative;
	h3{
		font-family: $arial;
		font-weight: bold;
		letter-spacing: 1px;
		font-size:2em;
	}
	li{
		display:inline-block;
	}
	.author-tool{
		padding:.4em 1.5em;
		border:1px solid $black;
		background: none;
		font-size:100%;
		font-family: $sofia;
		color:#000;
		cursor: pointer;
		transition: .3s;
		&:hover{
			background: $black;
			color:#fff;
		}
	}
	#delete-post:hover{
		background: $red;
	}
}

@media screen and (max-width:1024px){
	.post-masthead-title {
		width:2em;
		h2{
			font-size:2em;
		}
	}
	.post-masthead-images{
		width:calc(100% - 2em);
	}
	#post-body{
		width:100%;
		margin:0;
		min-width:100%;
		.post-wrapper{
			width:100%;
			float:none;
			p{
				max-width:100%;
			}
			blockquote{
				float:none;
				width:100%;
				max-width:100%;
				min-width:100%;
			}
		}
		.gutter{
			display:none;
		}
	}
}