#profile-header{
	.username{
		font-size: 3em;
		font-weight:bold;
		color:lighten($black, 10%);
	}
	ul{
		width:100%;
		position:relative;
		padding:2em 0;
		li{
			width:100%;
			text-align: center;
		}
	}
	.username-wrap{
		margin:1.5em 0;
	}
}
#profile-avatar-wrap{
	width:100%;
	svg{
		width:100%;
		height:100%;
		max-width:7em;
		max-height:7em;
	}
}
#profile-menu-wrapper{
	text-align:center;
	width:100%;
}
.activity-log{
	&::after{
		@include clear();
	}
	.heading{
		font-size:2em;
	}
}

// Edit profile
.form-wrapper{
	input, textarea{
		height:3em;
		height:3rem;
		font-size:1.2rem;
		border:1px solid $black;
		background: none;
		display:block;
		padding:.25em .5em;
		transition:.2s;
		width:100%;
	}
	.input-wrapper{
		width:100%;
		display:block;
		margin-bottom:1em;
	}
	input[type='submit']:hover{
		background: $black;
		color:#fff;
	}

}
.edit-profile{
	width:90%;
	margin:2em auto;
	&::after{
		@include clear();
	}
	.input-wrapper{
		float:left;
		width:50%;
		padding:0 .5em;
	}
}