// Register Form and Login Form

#register-form-wrapper, #login-form{
	font-family: "Courier new", courier new, monospace;
	.field{
		width: 50%;
		float:left;
		margin-bottom: 1em;
		label{
			margin-top:.75em;
			display:block;
		}
	}
	.bold{
		letter-spacing:1px;
	}
	.field:nth-child(odd){
		padding-right:1em;
	}
	.field:nth-child(even){
		padding-left:1em;	
	}
	input[type=text], input[type=password], input[type=email]{
		border:1px solid $black;
		height:3rem;
		width:100%;
		font-family: inherit;
		font-size: 1.2em;
		padding: .4em;
	}
	.submit-wrapper{
		clear:both;
		padding-top: 3em;
		position: relative;
		display: inline-block;
		.submit-button{
			display:inline-block;
			padding:1em 3.5em;
			background: $black;
			color:#fff;
			border:none;
			font-family: inherit;
			transition: .2s;
			cursor:pointer;
			font-size:95%;
		}
		.submit-button:hover{
			background: lighten($black, 10%);
		}
	}
}

#login-form{
	.field, .field:nth-child(odd), .field:nth-child(even){
		float:none;
		width:100%;
		padding:0;
	}
}



// Error messages
.site-message-wrapper{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:auto;
	z-index:20;
	font-family:$sofia;
	@for $i from 1 through 8 {
		.error-message:nth-child(#{$i}) {
			background: #CF000F + ($i * 13);
			animation: lowerError ($i / 2) + s 1;
		}
	}
}

// Error display for large screen displays

@media screen and (min-width: 1280px){
	@for $i from 1 through 4 {
		.errors-#{$i}{
			.error-message{
				width:(100 / $i) + %;
				float:left;
			}
		}
	} // End for loop


	@keyframes lowerError{
		from{
			margin-top:-2em;
		}
		to{
			margin-top:0;
		}
	}


}

.error-message, .success-message{
	background:#CF000F;
	color:#fff;
	width:100%;
	display:block;
	text-align:center;
	height:2em;
	line-height:2em;
	position:relative;
}
.success-message{
	background:#00B16A;
}


// Register page

#register-page{
	width:50%;
	min-width:560px;
	margin:10em auto;
	border:1px solid #ececec;
	padding:2em;
	background: #fff;
	min-height:60vh;
}