#search-page{
	.gray{
		color:#333;
		font-weight:normal;
	}
	ul{
		padding-top:1em;
		&::after{
			@include clear();
		}
	}
}
.result{
	width:50%;
	border-right:.25em solid transparent;
	float:left;
	height:20em;
	position: relative;
	margin-bottom:.5em;
	overflow:hidden;
	background-size:cover !important;
	h3{
		display:block;
		width:80%;
		text-align: center;
		height:2em;
		@include centerXY();
		font-weight:bold;
		font-size:2em;
		z-index:1;
		color:#fff;
		font-family: $sofia;
		letter-spacing: 1px;
	}
	.date{
		color:#fff;
		display:block;
		margin-top:1em;
		text-align: center;
		position:relative;
		z-index:1;
	}
	.dim{
		@include dim(rgba(50,50,50, .5));
		z-index:0;
		transition: .2s;
	}
	&:hover{
		.dim{
			background: rgba(50,50,50, .3);
		}
	}
}
.result:nth-child(even){
	border-right:none;
	border-left:0.25em solid transparent;
}