#site-header{
	width:100%;
	position:relative;
	margin-top:2.8125em;
	z-index:10;
}
#site-header::after{
	@include clear();
}


$font-size: 3.0383333467168em;

#logo-wrapper{
	min-width: 13.6875em;
	max-width: calc(100% - 30.1875em);
	font-family: $sofia;
	#main-logo, #main-menu{
		position:relative;
		display:inline-block;
		line-height: $font-size;
	}
	#main-logo{
		padding-right:.75em;
		user-select: none;
		color:$black;
	}
	h1{
		font-size:$font-size;
		font-weight:bold;
	}
	.hamburger{
		height: 2.3875em;
		width: 2.3875em;
		display:inline-block;
		cursor:pointer;
		background:transparent;
		transition: fill .15s;
		fill:$punchy;
		user-select:none;
	}
	.hamburger:hover{
		fill:darken($punchy, 20% );
	}
}

#search-wrapper{
	width: 26.1875em;
	position:absolute;
	top:0;
	right:0;
	input{
		height:3em;
		height:3rem;
		border:none;
		float:left;
	}
	input[type=text]{
		font-family: $arial;
		font-size: 1.3em;
		padding-left:.5em;
		font-weight:400;
		border-bottom:2px solid $black;
		width:22.0625rem;
		background: none;
	}
	input[type=text]:focus{
		outline:0;
	}
	input[type=submit]{
		width:4.125rem;
		background: transparent url(../img/mag.svg) no-repeat center;
		background-size: 2em auto;
	}
}

// Header states
.menu-inactive{
	h1{
		color:$black;
	}
}

.menu-active{
	#logo-wrapper svg.hamburger{
		fill:#000;
	}
	h1{
		color:$punchy;
	}
	#logo-wrapper .hamburger:hover{
			fill:darken($punchy, 20% );
	}
}



// Menu

#side-menu{
	width:17em;
	position:fixed;
	top: 0;
	z-index:8;
	height:100%;
	height:100vh;
	min-height:initial;
	background: #ececec;
	transition: margin .4s;
	padding: 10em 1em;
	font-family:$sofia;
	li{
		padding:1.5em 0;
		width:100%;
		border-bottom:1px solid darken(#ececec, 5%);
		position:relative;
		overflow:hidden;
		a{
			color:$black;
		}
		.target{
			@include cover();
		}
	}
	#side-avatar-wrapper{
		width:100%;
		position:relative;
		svg{
			width:100%;
			max-width:4.5em;
			height:100%;
			display:block;
			margin:auto;
		}
		&::after{
			@include clear();
		}
	}
	#side-name-wrapper{
		margin-top:2em;
		width:100%;
		text-align: center;
	}
	#user-options{
		height:auto;
		margin-top:10%;
	}
}
.side-stowed{
	margin-left:-17em;
}
.side-active{
	margin-left:0;
}

// Tease and City Grid

#tease-zone{
	height:2em;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	transition: height .3s;
}
#tease{
	width:100%;
	height:.65em;
	transition: height .25s;
	background:$black;
	position:relative;
	z-index:9;
	cursor:pointer;
}
#tease-zone:hover{
	height: 3em;
	#tease{
		height:2em;
	}
}

// City Grid

#city-grid{
	@include cover();
	background:rgba(0,0,0, .93);
	transition: margin .5s;
	z-index:600;
	padding:1.5em 2.5%;
	color:#fff;
	font-family:$sofia;
	overflow:auto;
	ul{
		width:100%;
		display:block;
		padding-top:1em;
	}
	li{
		width:33.3333333333333%;
		height:20em;
		margin-bottom:1em;
		position:relative;
		float:left;
		overflow:hidden;
		.cover{
			@include cover();
			z-index:0;
			width:98%;
			border:1px solid #fff;
		}
	}
	h3{
		width:100%;
		position:absolute;
		bottom:0;
		color:#fff;
		font-size:1.5em;
		padding:1em;
		z-index:1;
	}
}
#new-city-block:hover{
	.cover{
		background:#fff;
	}
	h3{
		color:$black;
	}

}
#city-grid-header{
	margin-bottom:2em;
	max-width:50%;
	min-width:400px;
	h2{
		font-size:2.5em;
	}
	span{
		font-size:1.1em;
	}
}
#city-grid-close{
	z-index:10;
	svg, path{
		stroke:#fff;
		transition: .2s;
	}
}

.city-grid-stowed{
	margin-top:-100vh;
}
.city-grid-active{
	margin-top:0;
}


// Search Overlay

#search-overlay{
	background:rgba(255, 255, 255, .95);
	@include cover();
	font-family:$sofia;
	padding:5%;
	transition: .3s;
	position:fixed;
	label{
		font-size:2.5em;
		color:#959595;
	}
	input:focus{
		outline:0;
	}
	input[type=text]{
		border:none;
		background:none;
		height:6rem;
		width:100%;
		display:block;
		font-family:inherit;
		font-size:5em;
		font-weight: bold;
		letter-spacing: 2px;
	}
}
.close{
	height:4em;
	width: 4em;
	position:absolute;
	top:5%;
	right:5%;
	background:transparent;
	svg, path{
		width:100%;
		height:100%;
		stroke: $black;
		transition: .2s;
	}
}
.close:hover{
	svg, path{
		stroke:$punchy !important;
	}
}
.overlay-hidden{
	z-index:-1;
	opacity:0;
}
.overlay-active{
	z-index:500;
	opacity:1;
}


@media screen and (max-width:720px){
	#search-wrapper{
		display:none;
	}
	#city-grid{
		li{
			width:100%;
			float:left;
			border:none;
		}
	}
}