.page-heading{
	font-family: $sofia;
	position: relative;
	clear:both;
	margin:1.5em 0;
	h2{
		font-family: inherit;
		font-size:2.5em;
	}
	.description{
		font-size: 1.1em;
		color: $black;
		line-height: 1.3em;
	}
}

.text-heading{
	font-family:$sofia;
	font-weight:600;
	display:block;
	margin-bottom:1em;
}

h2.text-heading{
	font-size: 2.3em;
}
h3.text-heading{
	font-size:1.8em;
}
h4.text-heading{
	font-size:1.4em;
}