.dropzone{
	width:100%;
	height:15em;
	margin:auto;
	clear:both;
	border:1px dashed darken(#ececec, 20%);
	color: darken(#ececec, 20%);
	transition:.1s;
	text-align:center;
	line-height:15em;
	transition: background .5s;
	background:transparent;
	max-width:100%;
	position: relative;
	background-size:cover !important;
	span{
		z-index:1;
		position: relative;
	}
}
.dragover{
	border:1px dashed darken(#ccc, 50%);
	color:darken(#ccc, 50%);
}
#dropzone-dim{
	@include dim(rgba(255, 255, 255, .2));
	z-index:0;
}